GATEWAY_PORT=:8080
GOTTY_PORT_INTERNAL=8081
WEBCLI_BIN=/app/webcli
IDLE_TIMEOUT_MINUTES=30
ABS_SESSION_HOURS=24
ADMIN_USERS=alice:alicepass,bob:bobpass
ANSIBLE_HOST_KEY_CHECKING=False
HOST_ADDRESS=127.0.0.1
CAPTCHA_FAIL_LIMIT=3
CAPTCHA_BLOCK_MINUTES=15
CAPTCHA_WINDOW_MINUTES=30