localhost {
  encode gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
  reverse_proxy 127.0.0.1:8080 {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For   {remote}
    header_up X-Forwarded-Host  {host}
  }
}